<!DOCTYPE html>
<html>
<head>
    <title>To do list</title>
    
</head>
<body>

    <h1><%= kindOfDay %> </h1>

    <!-- <% if(kindOfDay === "Saturday" || kindOfDay== "Sunday"){ %>
        <h1 style="color: purple">  <%= kindOfDay %> ToDo List</h1>
    <% }else{ %>
            <h1 style="color: blue">  <%= kindOfDay %> ToDo List</h1>
        <% } %> -->

        <ul>    
            <li>Buy</li>
            <li>Cook Food</li>
            <li>Eat</li>
           
            <% for(let i = 0; i < newListItems.length;i++){ %>
                <li><%= newListItems[i] %></li>
            <% } %>
        </ul>

        <form class="form-group" action='/' method="POST">
            <input id="todoItem" name="todoItem" placeholder="item" type="text"> 	
            <button type="submit" name="button" > Add</button>
        </form>
        
</body>
</html> 