<!DOCTYPE html>
<html>
<head>
    <title>To do list</title>
    <link rel="stylesheet" href="css/styles.css">
  

</head>
<body>


        <div class="date-box" id="heading">
            <h1><%= kindOfDay %> </h1>
        </div>


        <div class="box">
            <% for(let i = 0; i < newListItems.length;i++){ %>
             <div class="item"> 
                <input type="checkbox">
                    <p>
                        <%= newListItems[i] %>
                    </p>
               
            </div>
            <% } %>

             <form class="item" action='/' method="POST">
                <input id="todoItem" name="todoItem" placeholder="New item" type="text"> 	
                <button type="submit" name="button" >+</button>
            </form>
        </div>

        
           
   
</body>
</html> 